
.itemone{
    margin-left: 20px;
    background-color: white;
    color: rgb(228, 50, 80);
    font-size: 23px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.titletwo{
    font-size: 3rem;
    font-family: "Paytone One";
    color: #202020;
    text-transform: uppercase;
    letter-spacing: -2px;
  text-shadow: 0 13.36px 8.896px #50504f,0 -2px 1px rgb(131, 129, 129);
  letter-spacing: -4px;
}
.selected{
    margin-left: 20px;
    background-color: rgb(228, 50, 80);
    color: white;
    font-size: 23px;
    font-weight: 900;
}
.order-btn{
    background-color: rgb(228, 50, 80);
}