.footers{
    background-color: black;
    color: rgb(172, 170, 170);
}
.fa-facebookfa{
    color: rgb(172, 170, 170);
}
.fa-twitter{
    color: rgb(172, 170, 170);
}
.fa-youtube{
    color: rgb(172, 170, 170);
}